.header-nav{
    display: flex;
    text-align: center;
}

.header-title{
    background-color: var(--light-pink);
    color: var(--cherry);
    font-family: var(--font-title);
    font-size: 3rem;
    padding: 0 1em;
    border: 0.5px solid var(--pink);
}

.header-text{
    background-color: var(--dark-cherry);
    color: var(--white);
    font-family: var(--font-body);
    list-style-type: none;
    margin: 0;
}