.table-notes{
    border: 0.1em solid var(--light-pink);
    border-radius: 0.5em;
    background-color: var(--light-pink);
    padding: 0.5em;
    width: 20em;
}

.title-notes{
    font-family: var(--font-title);
    font-size: 2rem;
    margin: 0.3em ;
    font-weight: 100;
}

.text-notes{
    display: flex;
    flex-wrap: wrap;
    margin: 0em 2em;
    padding: 2em;
    border: 0.05em dashed var(--cherry);
    border-radius: 0.5em;
    background-color: var(--white);
    font-size: 1em;
}
