.month-title{
    margin: 0em 0.8em;
    font-size: 5rem;
    font-family: var(--font-title);
    color: var(--cherry);
}

.all-tables{
    display: flex;
    margin: 0.5em 2em;
    gap: 2em;
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--dark-cherry);
}

.table{
    display: flex;
    justify-content: center;
    border: 0.1em solid var(--light-pink);
    border-radius: 0.5em;
}

.table-header{
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--dark-cherry);
    padding: 1em 5em;
}

.table-title{
    color: var(--light-pink);
    font-family: var(--font-title);
    font-size: 1.5rem;
    line-height: 1;
}

.table-img{
    width: 2em;
    flex-shrink: 0;
}

.table-subtitle{
    background-color: var(--dark-cherry);
    color: var(--light-pink);
    font-weight: 500;
    font-size: 1em;
}

.table-value{
    color: var(--dark-cherry);
    display: flex;
    justify-content: center;
}

th, td {
  padding: 1em;
}

tr:hover {
    background-color: var(--light-pink);
}