.month-title{
    margin: 0em 2em;
    font-size: 5rem;
    font-weight: 200;
    font-family: var(--font-title);
    color: var(--cherry);
}

.all-tables{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em 2em;
    gap: 2em;
    font-family: var(--font-body);
    font-weight: 400;
    color: var(--dark-cherry);
}

.table{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-radius: 0.5em;
    padding: 0.5em;
}

.table-header-row{
    display: flex;
    align-items: center;
}

.table-header{
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: var(--dark-cherry);
    padding: 1em 3em;
    border-radius: 0.5em;
}

.table-title{
    color: var(--light-pink);
    font-family: var(--font-title);
    font-size: 1.8rem;
    font-weight: 100;
    line-height: 1;
    white-space: nowrap;
    letter-spacing: 0.05em;
}

.table-img{
    width: 2em;
    flex-shrink: 0;
}

.table-subtitle{
    color: var(--light-pink);
    font-weight: 500;
    font-size: 1em;
    background-color: var(--dark-cherry);
    border-radius: 0.5em;
}

.table-value{
    color: var(--dark-cherry);
    font-weight: 500;
    font-size: 1.5rem;
}

th, td {
  padding: 1em;
}
